/* Genel sıfırlama ve temel stil */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #fff;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header .logo img {
  width: 250px;
  height: auto;
  max-width: 100%; /* Mobil uyumluluk */
}

/* Ana İçerik */
main {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 65vh;
}

.image-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* Metin Kutusu */
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  width: 80%;
}

.text-container h2 {
  font-size: 2.5em;
  font-weight: 600;
}

.text-container p {
  font-size: 1.3em;
  line-height: 1.5;
}

/* İletişim */
.contact-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
}

.contact-container h2 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px; /* Metinlerin çakışmasını önler */
  display: block;
}

.contact-container p,
.contact-container a {
  font-size: 1.4em;
  color: #32CD32;
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}

/* LinkedIn Butonu */
.linkedin-container {
  text-align: center;
  margin-top: 10px;
}

.linkedin-button {
  display: inline-block;
  background-color: #0077b5;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.linkedin-button i {
  color: white;
  font-size: 20px;
}

.linkedin-button:hover {
  background-color: #005582;
  transform: scale(1.1);
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .grid-container {
    height: auto;
  }

  .image-container {
    min-height: 300px;
  }

  .text-container h2 {
    font-size: 2em;
  }

  .text-container p {
    font-size: 1.1em;
  }

  .contact-container p {
    font-size: 1.2em;
  }

  .linkedin-button {
    width: 35px;
    height: 35px;
  }
}
